<!-- <meta charset="utf-8"> -->
<!--

<div>
  <button (click)="loadCarrier()">Load Carrier</button>
  <div *ngIf='response'>
  {{response}}
</div>
</div> -->
<!-- <svg width="100%" height="1200" class="mySvg" (click)="clicked($event)">
  <text x="10" y="20">Click anywhere</text>
</svg> -->



<!-- <svg width="100%" height="1200" class="mySvg" (click)="clicked($event)">
  <text x="10" y="20">Click anywhere</text>
</svg> -->

<!-- <!DOCTYPE html>
<meta charset="utf-8">
<title>By Carrier</title>
<body>
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <button (click)="clicked()">Load Carrier</button>
  <div *ngIf="response"> 
    {{response.name}}<br><br>
    {{response.children[0].name}}<br>
    {{response.children[1].name}}<br>
    {{response.children[2].name}}<br>
    {{response.children[3].name}}<br>
    {{response.children[4].name}}<br>
    {{response.children[3].name}}<br>
  </div>
  
  <svg width="100%" height="1200" class="mySvg"></svg>
 <svg width="960" height="960" class="mySvg"></svg> 
</body> -->
<!-- <div id="chart"  width="100%" height="1200" ></div> -->
<!-- <div id="chart"></div> -->

<svg width="960" height="960"></svg>